doctype html
html

   head
      meta(charset='utf8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
      meta(name='description', content='description of your site')
      meta(name='author', content= "author of the site")
      //- uncomment if your site is responsive!
      meta(name="viewport" content="width=device-width, initial-scale=1")
      title= _path

      link(href='/css/vendor/flexslider.css', rel='stylesheet')
      link(href='/css/vendor/slicknav.css', rel='stylesheet')

      != css('/')

         //- Picturefill
      script
         !='document.createElement( "picture" )'

      script(src='/js/vendor/jquery.picturefill.min.js' async) 

   body

      #bluestrip

      #container

         include _topnav

         #metaNav
            left

               span.vertSpace75
               h3
                  a(href='../') Back to the overview

         #projectDescript
            #upperPart
               h1= post.title
               h3
                  span.projectSubtitle
                     =post.subtitle
               h3
                  span.projectYear

                     if post.moreinfo
                        =post.year + " — "+ post.moreinfo
                     else
                        =post.year

               mixin picturefill_3 (img, mediaWidth, alt)
                  picture
                     !='<source srcset="' + img + '.png 1x, ' + img + '@2x.png 2x" media="(min-width:'+ mediaWidth +'px)">'
                     !='<img class="topImage" src="' + img + '@0,5x.png" srcset="' + img + '.png 1x, ' + img + '.png 2x" alt="'+ alt +'">'

               div
                  +picturefill_3 ('/img/'+ post.id +'/top', '768', 'yahooo my name is indra')
         
            #description
               left
                  block description

               right
                  if post.process
                     h4 Process
                     ul.process
                        each val in post.process
                           li= val

                  if post.press
                     h4 Presented at
                     ul.press
                        each val in post.press
                           li  
                              a(href=val[1])  #{val[0]} 

                  if post.supervisionFH 
                     //- h4 Supervision
                     p= 'Supervised by ' + post.supervisionFH + ' at the ' 
                        a(href='http://www.fh-potsdam.de') University of Appliance Potsdam, Germany

            #more
               
               if post.more
                     h4.onlyMobile More information
                     ul
                        each val in post.more
                           li  
                              a(href=val[1])  #{val[0]}


   script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
   script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js')
   script(src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js')

   script(src='/js/vendor/jquery.flexslider-min.js')
   script(src='/js/vendor/jquery.slicknav.min.js') 

   != js('/')