doctype html
html

   head
      meta(charset='utf8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
      meta(name='description', content='description of your site')
      meta(name='author', content= "author of the site")
      //- uncomment if your site is responsive!
      meta(name="viewport" content="width=device-width, initial-scale=1")
      title= _path

      link(href='/css/vendor/flexslider.css', rel='stylesheet')
      link(href='/css/vendor/slicknav.css', rel='stylesheet')

      != css('/')

   body
      a.anchor(id='top')

      include _utility

      #bluestrip

      #greyContainer

         //- include _topnav
         #topBanner
            left
               h3 
                  span.bold Lionel Michel 
                  span.slogan ⇾ <i>Making sense of human and technological infrastructures</i>


               
            right
               ul#menu
                  li
                     a(href='http://www.nichts.com') Projects

                  li.projectHead.closeSlicknav
                     a(href='#top') #{post.title}

                  if post.more
                     each val in post.more
                        li.projectElement.closeSlicknav 
                           a(href="#"+val[1])  #{val[0]}

                  li
                     a(href='http://www.nichts.com') About me



                  //- li
                  //-    a(href='http://www.nichts.com') About me


         #metaNav
            h3
               a(href='../') Back to the overview

         #projectDescript

            #header
               h1= post.title
               h3
                  span.projectSubtitle
                     =post.subtitle
               h3
                  span.projectYear
 
                     if post.moreinfo
                        =post.year + " — "+ post.moreinfo
                     else
                        =post.year
              

               div.projectImage   
                  +picturefill_3 ('/img/'+ post.id +'/top', '768', 'bla')
               



            #description
               left
                  block description
 
               right
                  if post.process
                     h4
                        span.borderTop Process
                        
                     ul.process
                        each val in post.process
                           li= val
 
                  if post.press
                     h4 
                        span.borderTop Presented at
                     ul.press
                        each val in post.press
                           li  
                              a(href=val[1])  #{val[0]} 
 
                  if post.supervisionFH 
                     //- h4 Supervision
                     p= 'Supervised by ' + post.supervisionFH + ' at the ' 
                        a(href='http://www.fh-potsdam.de') University of Applied Sciences Potsdam, Germany
      
      #whiteContainer

         #subNav
            if post.more
               h4
                  span.onlyMobile More information
               ul.more
                  each val in post.more
                     li  
                        a(href="#"+val[1])  #{val[0]}


            block additionalContent

         //- //- dynamic blocl calling doesn't exist 
         //- if post.more
         //-    each val in post.more
                  
         //-          .rubric

         //-             a.anchor(id=val[1])

         //-             h2= val[0]

         //-             block val[1]






   script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
   script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js')
   script(src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js')

   script(src='/js/vendor/jquery.flexslider-min.js')
   script(src='/js/vendor/jquery.slicknav.min.js') 

      //- Picturefill
   script
      !='document.createElement( "picture" )'

   script(src='/js/vendor/picturefill.min.js' async) 


   != js('/')