extends layout



block content
   
   #bluestrip
   #container

      #topBanner
         left
            h3 Lionel Michel 
               span.slogan ⇾ Making sense of human and technological infrastructures
            h3 
               span.status I am Berlin-based UX Designer and open for cooperations (full-time or freelance)
         right
            ul#menu
               li
                  a(href='http://www.nichts.com') Selected projects
               li
                  a(href='http://www.nichts.com') Profile
               li
                  a(href='http://www.nichts.com') Contact

      #metaNav
         left
            h3 
               span.blue Selected projects

         right
            h3= site.posts.length

      #projects

         //- p= JSON.stringify(site)
         //- p= JSON.stringify(site.posts[0].year)

         for post in site.posts
            .project
               a(href=post._url)
                  .box(class='bgImg-'+post.id)
                     .veil
                     h1= post.title
                     h2= post.subtitle
                        if post.moreinfo
                           span.moreInfo= ' — '+post.moreinfo 
